<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">libs/</directory>
            <exclude>
                <directory suffix="Interface.php">libs/</directory>
                <file>libs/functions_include.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
